
clusters/conv25_setA/4_cluster1_summary.png
*.pyc
*.png
*.txt
*.pptx
*.h5
data/.DS_Store
clusters/.DS_Store
clusters/w_bkgd/.DS_Store
images/.DS_Store
vae_recon/.DS_Store
vae_recon/old/.DS_Store
vae_recon/old/mass/.DS_Store
vae_recon/old/mass/latent_100/.DS_Store
*.csv
*.pdf
vae_recon/old/mass/latent_25/.DS_Store
vae_recon/old/mass/latent_50/.DS_Store
vae_recon/old/mass/test/.DS_Store
vae_recon/old/mass/test/latent_20/.DS_Store
vae_recon/old/mass/test/latent_20/sub_800/.DS_Store
vae_recon/old/mass/test/latent_20/sub_800/events.out.tfevents.1515547930.deeplearn
*.deeplearn
*.gz
vae_recon/old/mnist/.DS_Store
vae_recon/old/mnist/events.out.tfevents.1515535959.Taylors-MacBook-Pro-3.local
vae_recon/old/mnist/events.out.tfevents.1515539926.Taylors-MacBook-Pro-3.local
