
clusters/conv25_setA/4_cluster1_summary.png
*.pyc
*.png
*.txt
*.pptx
*.h5
data/.DS_Store
clusters/.DS_Store
clusters/w_bkgd/.DS_Store
images/.DS_Store
vae_recon/.DS_Store
vae_recon/old/.DS_Store
vae_recon/old/mass/.DS_Store
vae_recon/old/mass/latent_100/.DS_Store
*.csv
*.pdf
vae_recon/old/mass/latent_25/.DS_Store
vae_recon/old/mass/latent_50/.DS_Store
vae_recon/old/mass/test/.DS_Store
vae_recon/old/mass/test/latent_20/.DS_Store
vae_recon/old/mass/test/latent_20/sub_800/.DS_Store
vae_recon/old/mass/test/latent_20/sub_800/events.out.tfevents.1515547930.deeplearn
*.deeplearn
*.gz
vae_recon/old/mnist/.DS_Store
vae_recon/old/mnist/events.out.tfevents.1515535959.Taylors-MacBook-Pro-3.local
vae_recon/old/mnist/events.out.tfevents.1515539926.Taylors-MacBook-Pro-3.local
data/bandpass/c3_freq_dist/breakdown/significance/107clusters_p1E-03/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/examples/10/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/examples/13/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/examples/14/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/examples/15/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/examples/18/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/examples/20/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/examples/21/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/examples/22/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/examples/23/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/examples/24/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/examples/25/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/examples/26/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/examples/27/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/examples/28/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/examples/29/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/examples/6/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/examples/8/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/examples/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/17_clusters/Icon
data/bandpass/c3_freq_dist/breakdown/significance/17clusters_p1E-20/Icon
data/bandpass/c3_freq_dist/breakdown/significance/184clusters_p5E-02/Icon
data/bandpass/c3_freq_dist/breakdown/significance/35clusters_p1E-15/Icon
data/bandpass/c3_freq_dist/breakdown/significance/48clusters_p1E-10/Icon
data/bandpass/c3_freq_dist/breakdown/significance/6clusters_p1E-40/Icon
data/bandpass/c3_freq_dist/breakdown/significance/85clusters_p1E-05/Icon
data/bandpass/c3_freq_dist/breakdown/significance/9clusters_p1E-30/Icon
data/bandpass/c3_freq_dist/breakdown/significance/Icon
data/bandpass/cvae/breakdown/significance/11clusters_p1E-40/Icon
data/bandpass/cvae/breakdown/significance/144clusters_p1E-03/Icon
data/bandpass/cvae/breakdown/significance/14clusters_p1E-30/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/1/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/10/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/11/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/12/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/14/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/15/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/16/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/19/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/2/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/20/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/21/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/22/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/24/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/26/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/27/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/29/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/31/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/32/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/33/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/4/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/examples/Icon
data/bandpass/cvae/breakdown/significance/20clusters_p1E-20/Icon
data/bandpass/cvae/breakdown/significance/23clusters_p1E-15/Icon
data/bandpass/cvae/breakdown/significance/303clusters_p5E-02/Icon
data/bandpass/cvae/breakdown/significance/41clusters_p1E-10/Icon
data/bandpass/cvae/breakdown/significance/87clusters_p1E-05/Icon
data/bandpass/cvae/breakdown/significance/Icon
data/bp/cvae/vae_model_conv.h5.bk
data/dynacut_and_bp_comp.xlsx
data/no_bandpass/c3_freq_dist/breakdown/significance/135clusters_p1E-03/Icon
data/no_bandpass/c3_freq_dist/breakdown/significance/236clusters_p5E-02/Icon
data/no_bandpass/c3_freq_dist/breakdown/significance/25clusters_p1E-15/Icon
data/no_bandpass/c3_freq_dist/breakdown/significance/29clusters_p1E-10/Icon
data/no_bandpass/c3_freq_dist/breakdown/significance/6clusters_p1E-20/Icon
data/no_bandpass/c3_freq_dist/breakdown/significance/6clusters_p1E-30/Icon
data/no_bandpass/c3_freq_dist/breakdown/significance/6clusters_p1E-40/Icon
data/no_bandpass/c3_freq_dist/breakdown/significance/92clusters_p1E-05/Icon
data/no_bandpass/c3_freq_dist/breakdown/significance/Icon
data/no_bandpass/cvae/breakdown/significance/10clusters_p1E-40/Icon
data/no_bandpass/cvae/breakdown/significance/11clusters_p1E-30/Icon
data/no_bandpass/cvae/breakdown/significance/154clusters_p5E-02/Icon
data/no_bandpass/cvae/breakdown/significance/15clusters_p1E-20/Icon
data/no_bandpass/cvae/breakdown/significance/18clusters_p1E-15/Icon
data/no_bandpass/cvae/breakdown/significance/23clusters_p1E-10/Icon
data/no_bandpass/cvae/breakdown/significance/30clusters_p1E-05/Icon
data/no_bandpass/cvae/breakdown/significance/52clusters_p1E-03/Icon
data/no_bandpass/cvae/breakdown/significance/Icon
data/no_bandpass/cvae_enc25/5_clusters/4pts_spindle_dist_hm.xlsx
data/no_bandpass/cvae_enc25/5_clusters/cstats.xlsx
data/silhouettes.xlsx
data/xiaojin/old/cluster_results.zip
data/xiaojin/old/inputForClustering.mat
data/xiaojin/spindle_features.mat
data/no_bandpass/cvae/breakdown/significance/11clusters_p1E-30/Icon
